@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This app will (if configured correctly) access your Azure Ad / Office 365 account information and also read your Outlook calendar</p>
<p>It will store access tokens and personal infromation on the server it is running.</p>
